@import '../constants';

.follower-alert {
  background: none;
  margin: 0;
  padding: 0;
  width: initial;
}

.follower-alert__body {
  display: inline-block;
  margin: 0;
  padding: 0;
  background: none;

  font-family: 'Gluten', cursive;
  font-size: 32px;
  font-weight: 600;
  color: $colors__accent;
}

.follower-alert__toast {
  background: none;
  margin: 0;
  padding: 0;
  display: inline;
  min-height: initial;
  max-height: initial;
  box-shadow: none;
  overflow: initial;
}

.follower-alert__toast::before,
.follower-alert__toast::after {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 24px;
  color: $colors__primary;
}

.follower-alert__toast::before {
  content: var(--follower-alert__toast--before);
}

.follower-alert__toast::after {
  content: var(--follower-alert__toast--after);
}