@import '../constants';

.logo {
  height: 45px;
  width: 140px;
}

.logo * {
  shape-rendering: geometricPrecision;
}

.logo__bubble {
  fill: $colors__accent;
}

.logo__on-air {
  fill: $colors__primary;
}

.logo__name {
  fill: $colors__primary;
}